/pytorch/huggingface_transformers_bert_classification/.idea/
/pytorch/huggingface_transformers_bert_classification/data_set/
/pytorch/huggingface_transformers_bert_classification/result/
/pytorch/Sklearn_NB/.idea/
/pytorch/Sklearn_NB/Data/
/pytorch/Sklearn_NB/pretrain_model/
/pytorch/Sklearn_NB/runs/
/pytorch/TextBert/.idea/
/pytorch/TextBert/data_set/
/pytorch/TextBert/runs/
/pytorch/TextBert/savedmodel/
/pytorch/TextBert/wandb/
/pytorch/TextBert/pretrain_model/
/pytorch/TextCNN/.idea/
/pytorch/TextCNN/data/
/pytorch/TextCNN/runs/
/pytorch/TextCNN/savedmodel/
/pytorch/TextCNN/pretrain_model/
/pytorch/TextRNN/.idea/
/pytorch/TextRNN/data/
/pytorch/TextRNN/pretrain_model/
/pytorch/TextRNN/runs/
/pytorch/TextRNN/savedmodel/
/pytorch/TextRNN_Att/.idea/
/pytorch/TextRNN_Att/data/
/pytorch/TextRNN_Att/pretrain_model/
/pytorch/TextRNN_Att/runs/
/pytorch/TextRNN_Att/savedmodel/
/tensorflow/TextBert/data_set/
/tensorflow/TextBert/pretrain_model/
/tensorflow/TextBert/runs/
/tensorflow/TextBert/wandb/
/tensorflow/TextBert/savedmodel/
/tensorflow/TextBert/.idea/
/tensorflow/TextCNN/.idea/
/tensorflow/TextCNN/data/
/tensorflow/TextCNN/pretrain_model/
/tensorflow/TextCNN/runs/
/tensorflow/TextCNN/savedmodel/
